{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content%}

<div class="content">

    <h2>Download e-papers</h2>

    <ul class="list-papers">

        {% for paper in papers %}
        <li>
            <h2>Date : {{ paper["date"] }}</h2>
            <h3>{{ paper["region"] }} region</h3>
            <a class="my-button" href="download/{{ paper["sha"] }}">Download ({{ paper["size"] }} MB)</a>
        </li>
        {% else %}
            <h2>Papers not Available!</h2>
        {% endfor %}
    </ul>



</div>


{% endblock %}