{% extends "base.html" %}

{% block title %}{{ region }}{% endblock %}

{% block content%}

<div class="content">

    <h2>Download e-papers</h2>

    <h4>{{ region.capitalize() }} Edition :</h4>

    <ul class="list-dates">
        <li>
            <a class="date" href="{{ region }}/today">DOWNLOAD TODAY'S PAPER</a>
        </li>
        {% for item in region_info %}
        <li>
            <a class="date" href="{{ region }}/{{ item.date }}">DOWNLOAD {{ item.date }}</a>
        </li>
        {% endfor %}
    </ul>

    <a class="date" href="/">Go Back</a>

</div>


{% endblock %}